{%extends 'templates/menu_home.html'%}
{% block conteudo %}
        <div class="col-md-12 column">
              <div class="titulo">
                  <h1 class="text-center text-primary" id="titulo">
					AGENDA ESCOLAR
				    </h1>
              </div>
		</div>
        <body>
            <h1 class="text-center">AGENDA DO PRIMEIRO SEMESTRE</h1>
                <p class="text-center">
                    <a>12/02 - Inicio das Aulas</a><br>
                    <a>05/03 - Apresentação dos trabalhos</a><br>
                    <a>10/04 - Festa da Páscoa</a><br>
                    <a>19/04 - Dia do Indio</a><br>
                    <a>10/05 - Festa do dia das Mães</a><br>
                    <a>20/05 - Apresentação dos trabalhos</a><br>
                    <a>25/05 - Reunião de Pais</a><br>
                    <a>10/06 - Festa Junina</a><br>

                </p>

            <br><br><br><br><br>
        </body>
{% endblock %}