{%extends 'templates/contato_home.html'%}
{% block conteudo %}
        <div class="col-md-12 column">
              <div class="titulo">
                  <h1 class="text-center text-primary" id="titulo">
					CONTATO
				    </h1>
              </div>
		</div>
        <body>
            <h1 class="text-center"></h1>
                <br><br><br>
                <span>
                    <p class="text-center">
                    <a>escolaarcoiris@gmail.com</a><br>
                    <a>arcoiris@hotmail.com</a><br>
                    <a>Telefone da Secretaria - (12) 3999-0909</a><br>

                    </p>
                </span>
                <br><br><br><br><br><br><br><br>
        </body>
{% endblock %}