{%extends 'templates/menu_home.html'%}
{% block conteudo %}
        <div class="col-md-12 column">
              <div class="titulo">
                  <h1 class="text-center text-primary" id="titulo">
					SISTEMA DE ENSINO
				    </h1>
              </div>
		</div>
        <body>
            <span class="text-center" style="font-size: 200% ">
                <p>
                    Trabalhamos dia a dia por uma educação de qualidade
                    com a capacitação de nossa equipe de trabalho,
                    buscando novas estratégias e recursos que contribuam
                    significativamente na formação de nossos alunos.
                    Valorizamos o que a criança é, favorecendo todas as suas potencialidades,
                    aliando a aprendizagem dos conteúdos com vivências
                    e experiências que contribuem em sua formação integral.
                </p>

            </span>

            <br><br><br><br><br><br>
        </body>
{% endblock %}