{%extends 'templates/menu_home.html'%}
{% block conteudo %}
        <div class="col-md-12 column">
              <div class="titulo">
                  <h1 class="text-center text-primary" id="titulo">
					GALERIA DE ARTES
				    </h1>
              </div>
		<div class="row text-center" >
                <div class="col-md-4"><img alt="ESCOLA ARCO-ÍRIS" id="foto4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTLAX0l_BMnMrZnGIlTN4sp5hD_6nMeicOyp6ietz_A1atTct_">
</div>

                <div class="col-md-4">
                    <img alt="ESCOLA ARCO-ÍRIS" id="foto4" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTYIXTJPg8rKZQkkdAsn7U-fSJk_srDH71kpPfLzlIHY3aQvRdF-Q">

                </div>

                <div class="col-md-4">
                    <img alt="ESCOLA ARCO-ÍRIS" id="foto4" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQdAj49AfwTP_BNwmhWob00lqmcZHSXGSMXwBr1jFQRgvxGdGLs-A">

                </div>

            </div>
            <br>
            <div class="row text-center" >
                <div class="col-md-4"><img alt="ESCOLA ARCO-ÍRIS" id="foto4" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTNmN_SZF37hquHYDRTVSbjEIjxN06bd2kmIHHI5tfGreusgf2O">
</div>

                <div class="col-md-4">
                    <img alt="ESCOLA ARCO-ÍRIS" id="foto4" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSjwXwevTvXRgrunmn5tAadMGMZdztWgnZGVfxvIS_Dfern7Bv9">

                </div>

                <div class="col-md-4">
                    <img alt="ESCOLA ARCO-ÍRIS" id="foto4" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS9_Gs9FOJLhC3FvPAxf1DebyGHmysn5UM9lOUVSmJEt8phZT-K">

                </div>

            </div>

        </div>

{% endblock %}