{%extends 'templates/historia_home.html'%}
{% block conteudo %}
        <div class="col-md-12 column">
              <div class="titulo">
                  <h1 class="text-center text-primary" id="titulo">
					HISTÓRIA
				    </h1>
              </div>
		</div>
        <body>
            <span class="text-center" style="font-size: 200% ">
                <p>
                    A escola arco-íris nasceu em 1997,
                    ano em que uma jovem educadora
                    com muita coragem e determinação transformaram um sonho em realidade.
                    O AMOR, CARINHO E DEDICAÇÃO, desde o início sustentaram como princípio básico esta instituição.
                </p>
                <p >
                    Fundamentada na teoria sócio-construtivista,
                e com uma filosofia própria de estimulação
                e desenvolvimento dos sentidos e das inteligências,
                buscamos desenvolver o potencial individual de cada aluno,
                oferecendo através de um currículo completo, atividades que
                irão proporcionar à criança um desenvolvimento integral,
                em seus aspectos físico, emocional, intelectual e social.
                </p>
            </span>

        </body>
{% endblock %}