{%extends 'templates/menu_home.html'%}
{% block conteudo %}
        <div class="col-md-12 column">
              <div class="titulo">
                  <h1 class="text-center text-primary" id="titulo">
					INFRA-ESTRUTURA
				    </h1>
              </div>

        </div>
		<div class="row text-center" >
                <div class="col-md-4"><img alt="ESCOLA ARCO-ÍRIS" id="foto4" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSzcLUOZAmbokOtscF_JUZj19Vd9qqIdwbkPEbYCPBw2-zlQHc7">
</div>

                <div class="col-md-4">
                    <img alt="ESCOLA ARCO-ÍRIS" id="foto4" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRzhj3aHXkGUCzWCEFobsoB3bgl2AbyPmXo_unY2GZJJA-D0rguxw">

                </div>

                <div class="col-md-4">
                    <img alt="ESCOLA ARCO-ÍRIS" id="foto4" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRWA-SpL3g5JkcwAhWx5yg5yaQzlYmv4Y9nUc5khhl0X-z0vUIh1A">

                </div>

            </div>
            <br>
            <div class="row text-center" >
                <div class="col-md-4"><img alt="ESCOLA ARCO-ÍRIS" id="foto4" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTFJJkh4aQqqHI8wDdBpVSEAcsj_VV3uXgK5GKTqhUI8gov4LU6hg">
</div>

                <div class="col-md-4">
                    <img alt="ESCOLA ARCO-ÍRIS" id="foto4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7yFkNB0VH3uYzDKWLWZs1LnbJz1BA5IqtFL0uro49QSPMDZQJ">

                </div>

                <div class="col-md-4">
                    <img alt="ESCOLA ARCO-ÍRIS" id="foto4" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRNVE2jVJkJ4LsLOdA0yDVXATV-QZz4gZwz4gu_R45SxC-DT-IBpg">

                </div>

            </div>

        </div>

		</div>

{% endblock %}