{%extends 'templates/livro_home.html'%}

{% block conteudo %}

	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-condensed table-striped">
				<h1> LIVROS</h1>
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Biblioteca
						</th>
						<th>
							Cidade
						</th>
					</tr>
				</thead>
				<tbody>
					{% for item in bibliotecas %}
					<tr>
						<td>
							{{item[0]}}
						</td>
						<td>
							<a href="#">{{item[1]}}</a>
						</td>
						<td>
							{{item[2]}}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}