body
{
background-color:#A3FFA3;
}


.atividades
{
    background-color: #c9302c;
    text-align: center;
}

.galeria
{
    background-color: #269abc;
    text-align: center;
}

.agenda
{
     background-color: #ffff00;
    text-align: center;
}

.endereco {
    text-align: center;
}
.titulo{


}

